{% extends "layout.html" %}
{% block content %}
    <p> A <b>Flask Search Application</b> for the <b>Cord19 data set</b> in conjunction with the <b>STELLA APP</b>  and Logging Frameworks such as <b>LogUI</b> and <b>Big Brother</b></p>
    <p>
        <h5>External Links</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/AH-Tran/STELLA_LogUI" id="github-ext">GitHub</a></li>
            <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://stella-project.org/" id="stella-ext">STELLA</a></li> 
            <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/logui-framework" id="logui-ext">LogUI</a></li> 
            <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/hscells/bigbro" id="bigbro-ext">Big Brother</a></li>   
            <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/allenai/cord19" id="cord19-ext">Cord19 Data Set</a></li>
        </ul>
    </p>
{% endblock  content%}