<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Title -->
    {% if title %}
        <title>Cord19 Search App - {{title}} </title>
    {% else %}
        <title>Cord19 Search App</title>
    {% endif %}
</head>
<body>

    <!-- Navigation -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4" href="/" id="app-home">Cord19 Search App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/about" id="app-about">About</a>
                </div>

                <!-- Navbar SEARCHBAR-->
                <div class="nav-searchbar">
                    {{ form.hidden_tag()}}
                    <form method="POST" action="{{ url_for('result')}}" class ="d-flex" id="search-bar">
                        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search", name="query" id="search-box">
                        <input class="form-control me-2" type="number" min="1" style="width: 11em;" placeholder="Results per Page" aria-label="Search", name="rpp", id="rpp-box">
                        <button class="btn btn-outline-secondary" type="submit" style="color:white" name="submit-box" id="submit-box">Submit</button>
                    </form>
                </div>
                
            </div>
            </div>
        </nav>
        </header>
    
    <!-- Main Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}{% endblock content%}
            </div>

            <!-- Sidebar-->
            <div class="col-md-4">
            <div class="content-section">
                <h3>Cord19 Search App</h3>
                <p class='text-muted'>Welcome to the Cord19 Search App. <br>Use the <b>search bar</b> to search the Cord19 data set for a specific query. 
                <hr>
                    <!-- Advanced Search-->
                <div class="nav-searchbar-advanced">
                    <h5>Advanced Search</h3>
                    {{ form.hidden_tag()}}
                    <form method="POST" action="{{ url_for('result')}}" id="search-bar-advanced">
                        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search", name="query" id="search-box-advanced">
                        <input class="form-control me-2" type="number" min="1" placeholder="Results per Page" aria-label="Search", name="rpp", id="rpp-box-advanced">
                        <br> <!-- Advanced SearchRADIO-->
                        <div class="searchbar-advanced-radio" id ="searchbar-advanced-radio-id">
                        <legend><h6>▻ Date Selection</h6></legend>
                            <input type="radio" id="radio-none"
                            name="year-radio" checked="checked" value="">
                           <label for="radio-2019">None</label>
                            <input type="radio" id="radio-2019"
                             name="year-radio" value="2019">
                            <label for="radio-2019">2019</label>
                        
                            <input type="radio" id="radio-2020"
                             name="year-radio" value="2020">
                            <label for="radio-2020">2020</label>
                        
                            <input type="radio" id="radio-2021"
                             name="year-radio" value="2021">
                            <label for="radio-2021">2021</label>
                        </div>
                         <!-- Advanced Search: CHECKBOX-->
                        <div class="searchbar-advanced-checkbox" id ="searchbar-advanced-checkbox-id">
                        <legend><h6>▻ Tag Selection</h6></legend>
                           <input type="checkbox" id="checkbox-none"
                           name="tag-checkbox" value="covid-19">
                          <label for="checkbox-2019">Covid-19</label>
                          <input type="checkbox" id="checkbox-none"
                          name="tag-checkbox" value="disease">
                          <label for="checkbox-2019">Disease</label>
                        </div>
                         <!-- Advanced Search: SUBMIT-->
                        <button class="btn btn-outline-secondary" type="submit" style="color:white; background-color:#6da861;" name="submit-box-advanced" id="submit-box-advanced">Submit</button>
                    </form>
                </div>
                <hr>
                <!-- External Links-->
                <p>
                <h5>External Links</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/AH-Tran/STELLA_LogUI" id="github-ext">GitHub</a></li>
                    <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://stella-project.org/" id="stella-ext">STELLA</a></li> 
                    <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/logui-framework" id="logui-ext">LogUI</a></li> 
                    <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/hscells/bigbro" id="bigbro-ext">Big Brother</a></li>   
                    <li class="list-group-item list-group-item-light" style="text-align: center;"><a href="https://github.com/allenai/cord19" id="cord19-ext">Cord19 Data Set</a></li>
                </ul>
                </p>

                </p>
            </div>
            </div>


        </div>
        </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
    <!-- BigBro Script -->
    <script type="text/javascript" src="bigbro.js"></script>
    <script type="text/javascript">
        BigBro.init("username", "localhost:1984");
    </script>


</html>