{% extends "layout.html" %}
{% block content %}
    {% for key, parent_dict_item in search_results.items() %}
    {% if 'body' in key %}
        {% for key2, nested_value  in parent_dict_item.items() %}
        <article class="media content-section">
            <div class="media-body">
              <h2><a class="article-title" href="#{{ nested_value.docid }}">DOCID: {{ nested_value.docid }}</a> </h2> <small class="text-muted">{{ nested_value.type }}</small>
              <p class="article-content"><b>ABSTRACT </b>An abstract is a brief summary of a research article, thesis, review, conference proceeding, or any in-depth analysis of a particular subject and is often used to help the reader quickly ascertain the paper's purpose.</p>
              <div ><a class="article-tag" href="#" class="fill-div">Covid-19</a></div>
              <div ><a class="article-tag" href="#" class="fill-div">Disease</a></div>
              <!--- -->


              <div class="article-metadata" style="display: flex; justify-content: flex-end">
                <a class="mr-2" href="#">By Jeremy Falulah</a>
                <small class="text-muted">07.03.2019</small>

              </div>
            </div>
        </article>
        {% endfor %}
    {% endif %}
    {% endfor %}
{% endblock  content%}